PORT=8080
DB_URL=jdbc:mysql://localhost:3306/daybook?sslMode=PREFERRED&serverTimezone=UTC
DB_USER=root
DB_PASSWORD=
JWT_SECRET=supersecretkeyfordaybookjwtauthenticationapplicationwhichisatleast64byteslong
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
ALLOWED_ORIGINS=http://localhost:5173
